
.menu{
    color:blue;
    font-size: 16pt;
}   
.menu:hover{
    color:red;
    font-size: 20pt;
}

h1, h2, h3, h4, h5, h6{
font-size: 30pt;
text-align: center;
background-color: rgb(190, 215, 230);
color: white;
}
 p, li{
color: white;   
font-size: 14pt;    
background-color: rgb(190, 215, 230);;
 }


.azul {color:blue;}
.vermelho {color:red;}
.amarelo {color:yellow;}
.verde {color:green;}

.tam16 {font-size:16pt;}        
.tam26 {font-size:26pt;}
.tam36 {font-size:36pt;}
.tam46 {font-size:46pt;}


div a{
    text-decoration: none;
}


div a:visited{
    color: red;
}

body{
    background-color: rgb(235, 245, 250);
}

img {
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

table tr:hover td {
 background-color: rgb(183, 218, 236);
}

ul li:hover {
  transform: scale(1.2);
  transform-origin: left center;
}